.app__header {
    background-color: var(--color-black);
}

.app__header-h1 {
    font-family: var(--font-base);
    color: var(--color-golden);
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    line-height: 100px;
    font-size: 65px;
}

.p__opensans_p{
    font-family: var(--font-base);
    font-size: 2rem;
    line-height: 2rem;
    color:var(--color-white);
}
.p__opensans_p1{
    margin: 1rem 1rem 0 0;
    font-family: var(--font-base);
    font-size: 3rem;
    line-height: 1rem;
    color:var(--color-golden);

}


.app__header-img img {
    width: 80%;
    border-radius: 10px;
}

.app__wrapper_img img{
    width:100%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}

@media screen and (min-width: 2000px) {
    .app__header-h1 {
        font-size: 180px;
        line-height: 210px;
    }
}

@media screen and (max-width: 1150px) {
    .app__header-h1 {
        font-size: 90px;
    }
}

@media screen and (max-width: 650px) {
    .app__header-h1 {
        font-size: 70px;
        line-height: 87px;
    }
}

@media screen and (max-width: 450px) {
    .app__header-h1 {
        font-size: 50px;
        line-height: 70px;
    }
}
